doctype html
html
  head
    meta(name="viewport" , content = 'width=device-width, intial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
  body
    block content

    script(src = "/javascripts/jquery-1.12.2.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")



